.paragraph{
  text-align: center;
  padding-top: 15px;
}
.bg {
  --ion-background-color:  #b31f6f !important;

}
ion-content {
--ion-background-color:  #4854e0 !important;
/// --ion-background-color: #4854e0;
}

ion-content h2 {
  color: #fff;

}

.sign-btn-wrap{
  text-align: center;
  padding-top: 20px;
.sign-btn{

   background-color: #b31f6f !important;


}


}
ion-item {
  color:#747B7E;
  --border-color: #747B7E;
  --highlight-color-focused:#124BA0;

  --padding-start:0;
  --inner-paddig-end:0;
     font-size:12px;

     ion-icon {
         padding-right: 6px;
         font-size: 18px;
         color:#b31f6f !important;
     }
  ion-input {
      color:  #000;
  }
  ion-input:hover{
      color:#124BA0;
  }
}
ion-item:active {
color:red !important;
ion-icon {
   color:red !important;
}
}
.password_forgot{
text-align: right;
ion-button {
  font-size:10px;
}
}

ion-card {
  margin-top: 40px;
  --ion-background-color: #fff;
}
.avatar{
  margin: auto;
}
.imgClass{
 margin-top: 40px;
}

.ion-card-footer{
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
span {
    color: #8588BD;
    font-size:12px;
    font-weight: 200;
}
button {
    font-size:12px;
    --ion-background-color: transparent;
    font-weight: 400;
    padding-left: 3px;
    color:#535558;
}
button:hover {
    color:#969393;
}
}
