.image-center{
 //margin-top: 10px !important;
  margin:0 auto;
  background-color: #b31f6f;

}
ion-icon {
  margin-top: 15px;
  text-align: center !important;;
  font-size: 30px;
  color: #fff;
}
h2 {
  margin:0 auto;
  text-align: center;
  font-weight: 700;
  margin-bottom: 12px;

}
.txtName{
  padding-top: 15px !important;
}
