<ion-header>
  <ion-toolbar>
    <ion-title>Add Products</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content  class="bg">
  <h2 class="paragraph ion-text-center">Add Product</h2>

  <div  class="imgClass">
    <ion-avatar class="avatar" >
    <img src="../../assets/free_logos_dribbble_ph.jpg" />
  </ion-avatar>
  </div>
    <ion-card>
      <ion-card-content>

  <form [formGroup]="contactForm"  (ngSubmit)="onSubmit()">
    <div class="form">
    <h2>Add new Product </h2>

   
  <ion-input  name="Product Name" formControlName="productName" placeholder="Product Name" type="string" matInput required ></ion-input>
  <br>
 
  <ion-input  name="Product Price" formControlName="productPrice" placeholder="Product Price" type="string" matInput required ></ion-input>
  <br>
 
  <ion-input  name="Product Location" formControlName="productLocation" placeholder="Product Location" type="string" matInput required ></ion-input>
  <br>

  <ion-input  name="Category Name" formControlName="categoryName" placeholder="Category Name" type="text" matInput required ></ion-input>

  <br>
 
  <ion-input  name="Product ID" formControlName="productid" placeholder="Product ID" type="text" matInput required ></ion-input>
  <br>


  <ion-input  name="Image URL" formControlName="Img" type="text" placeholder="Image" matInput required ></ion-input>
  <br>




  <ion-button type="submit" shape="block" fill="solid" click="onSubmit()">Add Product</ion-button>
</div>

</form>
</ion-card-content>
</ion-card>
</ion-content>
